
.preview-container {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    color: var(--text);
}
.preview-container iframe {
    width: 100vw;
    height: 100vh;
    border: none;
}